body {
    width: 600px;
    margin: 0 auto;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif, monospace;
    background-color: #100808;
    color: aliceblue;
  }
  .inputs{
    display: flex;
    justify-content: space-around;
  }

  .heading{
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }
  input{
    padding: 10px;
    border-radius: 12px;
    border: none;
    outline: none;
  }
  .btn{
    padding: 10px 20px;
    border-radius: 5px;
    background:none;
    background-color: var(--clr);
    border: none;
    outline: none;
    color: aliceblue;
  }
  li{
    font-size: 1.3rem;
    line-height: 2;
  }
  .itemAdd{
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;
  }
  #needText{
    color: greenyellow;
    position: relative;
  }
  #haveText{
    color: lightpink;
    position: relative;
  }
  #delete{
    position: absolute;
    left: 15rem;
    font-size: 1.3rem;
    color: red;
    font-weight: bold;
    cursor: pointer;
  }
  
 
  
  @media (-webkit-min-device-pixel-ratio: 2), /* Webkit-based browsers */
         (min--moz-device-pixel-ratio: 2),    /* Older Firefox browsers (prior to Firefox 16) */
         (min-resolution: 2dppx),             /* The standard way */
         (min-resolution: 192dpi)             /* dppx fallback */
  {
  }